article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
  }
  body {

      margin-top: 2rem;
    color: #f7f7f7;
    background-color: #444;
  }
  html {
    font: 18px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 18px;
  }
  .container {
    max-width: 50%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0 0 0.5rem -0.1rem;
      margin-bottom: 0.5rem;
    line-height: 1;
    color: #111;
    text-rendering: optimizeLegibility;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  h1 a {
    color: inherit;
  }
  a {
    color: #0074d9;
    text-decoration: none;
    background: transparent;
  }
  .container img {
    margin: 0 auto;
    display: block;
  }
  .container img, .container iframe {
    max-width: 100%;
  }
  img {
    border: 0;
  }
  summary, slot[name="internal-main-summary"]::slotted(summary) {
    list-style: disclosure-closed inside;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }