<div class="row">
    <figure class="column">
        <details>
            <summary><img alt="" loading="lazy" src="affiches/resize/"/></summary>
            <a href="affiches/"></a>
        </details>
    </figure>
    <figure class="column">
        <details>
            <summary><img alt="" loading="lazy" src="affiches/resize/"/></summary>
            <a href="affiches/"></a>
        </details>
    </figure>
</div>